<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.needle.soniaditi380.books">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashScreen"
            android:label="NeedleBook"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/tool_title_forDiscover"
            android:resizeableActivity="true"
            android:theme="@style/splash_theme" />
        <activity
            android:name=".Activity.SearchActivity"
            android:label="@string/searchActivity_title"
            android:launchMode="singleTask"
            android:resizeableActivity="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.needle.soniaditi380.books.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.DetailedInfo"
            android:theme="@style/AppTheme.custom"
            android:resizeableActivity="true">
        </activity>
        <activity
            android:name=".Activity.SignIn"
            android:resizeableActivity="true"
            android:theme="@style/splash_theme" />
        <activity android:name=".Activity.MyBooks"
            android:label="@string/MyBooks"
            android:resizeableActivity="true">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.needle.soniaditi380.books.Activity.MainActivity" />
        </activity>
    </application>

</manifest>